@import "tailwindcss";

@theme {
  --color-primary: #df1d25;
  --color-primary-yellow: #f7bf00;
  --color-primary-orange: #fb6d3a;
  --color-app-bg: #fff7f5;
  --color-app-text: #101e20;
  --color-subtext: #666666;
  --color-card: #ffffff;
  --color-border-soft: #f0d9d5;
}
