
@import "tailwindcss";



:root {
  --primary: #DF1D25;
  --primary-yellow: #F7BF00;
    --primary-orange: #FB6D3A;
  --bg: #fff7f5;
  --text: #101E20;
  --subtext: #666666;
  --card: #ffffff;
  --border: #f0d9d5;
}

body {
  -webkit-tap-highlight-color: transparent;
}
